* {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
}

/* Flex Containers */

nav,
.nav-containers,
.main-article,
footer { display: flex; }

/* --------------- */

nav {
    min-height: 7vh;
    justify-content: space-between;
    padding: 0.625em 1.5em 0.625em 1.25em;
}

nav a {
    margin-left: 1.875em;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

nav h2 {
    margin-left: 0.3125em;
}

.nav-containers {
    align-items: center;
}

.main-article {
    flex-direction: column;
    background-image: url("/images/blog-image-hero.png");
    background-size: cover;
    color: #FFFFFF;
    min-height: 29vh;
    justify-content: end;
    padding: 10em 1.25em 1.5625em; 
}

.main-article a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.main-article p,
.main-article h1 {
    margin: 0;
}

.main-article h1 {
    margin: 0.5625em 0;
    inline-size: 60vw;
}

.main-article p {
    line-height: 1.25;
    inline-size: 80vw;
}

.main-article-date {
    font-size: 0.75rem;
}

.sub-articles {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(232px, 1fr));
    grid-row-gap: 2.5625em;
    margin: 2.125em 1.25em 2.5625em;
}

.sub-articles h3 {
    color: #141414;
    margin-bottom: 0.5625em;
    margin-top: 0.875em;
}

.sub-articles-paragraph {
    color: #505050;
    line-height: 1.5;
    margin: 0;
}

.sub-articles-date {
    font-size: 0.89rem;
}

.sub-articles button {
    text-decoration: underline;
    border: none;
    background: inherit;
    font-weight: bold;
    font-size: 0.9375rem;
}

.sub-articles img {
    width: 100%;
}

footer {
    flex-direction: column;
    justify-content: center;
    background: #202020;
    font-size: 0.75rem;
    height: 10vh;
    text-align: center;
}

.footer-title {
    color: #ECECEC;
    margin-bottom: 0.25em;
}

.footer-copyright {
    color: #D7D7D7;
    margin: 0;
}

/* Media Query */

@media (min-width: 768px) {
    .sub-articles {
    grid-template: repeat(2, minmax(232px, 1fr)) / repeat(3, minmax(309px, 1fr));
    column-gap: 1.625em;
    grid-row-gap: 2.875em;
    margin: 3.3125em;
    }
    
    .sub-articles button {
    grid-row: 3;
    grid-column: 2;
    }
    
    .sub-articles-paragraph { inline-size: 19.3125em; }
    .main-article-date { font-size: 1rem; }
    .main-article { padding: 0 0 3.75em 3.3125em; }
    nav { padding: 1.5em 3.3125em; }
}